  <div class="header" >
    <div *ngIf="preference$ | async as pref">
      <div *ngIf="setUserTheme(pref)">
      </div>
    </div>
    
      <mat-toolbar color="primary">
        <div class="Title">AngularGame</div>
        <nav>
          <a routerLink="/">Home</a> |  <a routerLink="/login">Account</a> | <a routerLink="/Tetris">Tetris</a> | <a routerLink="/about">About</a>
        </nav>
        <span class="spacer"></span>
        <app-menu 
          [options]="options$ | async"
          (themeChange)="themeChangeHandler($event)">
        </app-menu>
      </mat-toolbar>

  </div>
  
<app-user-item>
</app-user-item>

