.header {

  background: #333;
  color: #fff;
  text-align: center !important;
  align-content: center !important;
  padding: 0px;
}

.title {
  font-size: 16px;
} 


.header a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.spacer:hover {
  cursor: default;
}

nav {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  margin-left: 0px; 
  left: 0%;
  position: absolute;
}

app-menu {
  right: 1%;
  position: absolute;
}
