.game-board {
  position: absolute;
  left: 25%;
  top: 15%;
  border:5px solid black;
  background-color: lightsteelblue;
}

.right-column {
  position: absolute;
  top: 25%;
  left: 50%;
}

button{
  color: green;
  border-style: solid;
}
