<h2 style="text-align: center;">Register</h2>
  <div class="aligner">
    <form [formGroup]="nameForm">
      <input id="nameregister" type="text" name="name" formControlName="name" placeholder="Enter name">
    </form>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <input type="button" (click)="showPass()" value="?" class="btn">
        <input formControlName="password" id="passregister" [type]="show ? 'text' : 'password'" name="password" #create formControlName="password" placeholder="Enter password">

        <input type="submit" value="Submit" class="btn" [disabled]="!passwordIsValid">

    </form>
  </div>
  <div class="aligner">Password strength:
    <app-password-strength [passwordToCheck]="passwordForm.value.password" (passwordStrength)="passwordValid($event)"></app-password-strength>
  </div>
  <div class="aligner">
    <p class="invalid">{{msg}}</p>
  </div>