
<h1 class='title'>Welcome to AngularGame!</h1>
<p class='paragraph' *ngIf="notLoggedIn()">
  You can play without logging in but your highscores won't be saved.<br>
  Click 'account' on the top of this page to create an account or login to an existing one.
</p>
<div *ngIf="!notLoggedIn()">
  <div *ngIf="user$ | async as user">
    <br>
      <div class='paragraph' *ngIf="score$ | async as score">
        {{ score.pointCount }}
        <p>Name: {{user.name}}</p>
        <p>Score: {{ score.pointsCount.toString() }}</p>
        <p>Lines: {{ score.linesCount.toString() }}</p>
        <p>Level: {{ score.levelCount.toString() }}</p>
      </div>

    <br>
      <div class='paragraph' *ngIf="highScore$ | async as highScore">
      <h2>Best score ever:</h2>
      <p>Score: {{ highScore.pointsCount.toString() }}</p>
      <p>Lines: {{ highScore.linesCount.toString() }}</p>
      <p>Level: {{ highScore.levelCount.toString() }}</p>
    </div>
  </div>
</div>
